:root {
    --default-font: "Segoe UI", "Arial", "Tahoma", "Helvetica", sans-serif;
  }
  
  body .modal {
    border-radius: 18px;
  }
  
  .theme-dark {
    --background-primary: var(--venom_navy); /* middle rayout */
    --background-primary-alt: var(--venom_dark_navy); /* middle rayout alter */
    --background-secondary: var(--venom_dark_navy); /* side rayout */
    --background-secondary-alt: var(--venom_dark_navy); /* top rayout */
    --background-accent: #ff0000; /* ??? */
    --background-modifier-border: var(--venom_white); /* main line */
    --background-modifier-active-hover: hsl(224deg 23% 45% / 15%); /* ??? */
    --background-modifier-form-field: rgba(0, 0, 0, 0.3); /* ??? */
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #15df6b;
    --background-modifier-error: #3d0000;
    --background-modifier-error-rgb: 61, 0, 0;
    --background-modifier-error-hover: #ff0f44;
    --background-modifier-cover: rgba(0, 0, 0, 0.6);
    --text-accent: var(--venom_white);
    --text-accent1: #61d29d;
    --text-accent2: #00ddff;
    --text-accent-hover: var(--venom_pink);
  
    --text-normal: var(--venom_white);
    --text-muted: #bbb;
    --text-error: #e16d76;
    --text-error-hover: #c9626a;
    --text-highlight-bg: var(--venom_dark_navy);
    --text-selection: var(--venom_pink); /* text drag selection */
    --text-on-accent: #dcddde;
    --interactive-normal: #20242b;
    --interactive-hover: #353b47;
    --interactive-accent: var(--venom_pink);
    --interactive-accent-rgb: 76, 120, 204;
    --interactive-accent-hover: #5082df;
    --scrollbar-active-thumb-bg: var(--venom_pink); /* when scrollber activate */
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: var(--venom_gray);
    --panel-border-color: var(--venom_dark_red); /* Left below line */
  
    --gray-1: #5C6370;
    --red: #ff0f44;
    --peach: #ff5555;
    --aqua: #078480;
    --purple: #8c44aa;
    --blue: #61afef;
    --green: #15df6b;
    --orange: #ffc83f;
    --magenta: #ff2857;
    --altblue: #0087ff;
    --cyan: #0fb3ff;
    --yellow: #fccd11;
    --light-orange: #ff693f;
    --lime: #b2f711;
    --aquadark: #0b4c5e;
    --lila: #c90481;
    --green-light: #42accd;
  
    /* marvels_venom_color */
    --venom_dark_navy: #0C1520;
    --venom_navy: #1E303A;
    --venom_gray: #8E9599;
    --venom_white: #EBDEDB;
    --venom_dark_red: #752126;
    --venom_pink: #B13D4C;
  
    --text-title-h1: var(--red);
    --text-title-h2: var(--orange);
    --text-title-h3: var(--yellow);
    --text-title-h4: lightgreen;
    --text-title-h5: skyblue;
    --text-title-h6: var(--purple);
  
    --font-weight-title: 600px;
    --font-monospace: "Consolas", "Fira Code", "Source Code Pro", "Droid Sans Mono", "Monoid", "Arial", sans-serif;
    --line-height-headers: 1;
    --file-line-width: 1200px;
  
    --search-match-color: #ffff00;
    --search-other-match-color: #ff9632;
  }

  /* Addition */

  

  /* separate line */
  hr { 
    border-color: var(--venom_white);
    border-width: 3px;
  }

  /* background - graph */
  .workspace-leaf-content[data-type="graph"] .view-content {
    z-index: 0;
  }
  .workspace-leaf-content[data-type="graph"] .view-content::after {
    z-index: -1;
    content: "";
    position: absolute;
    background-image: url(https://imgur.com/9OXj9sV.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0px) brightness(20%) saturate(30%);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  /* End of Addition */

  /* search */
  
  .search-result-file-matched-text {
    color: #0d1117;
    background-color: #ffff00;
    box-shadow: none;
  }
  
  .cm-s-obsidian span.obsidian-search-match-highlight {
    background-color: #ffff00;
    box-shadow: none;
    color: #0d1117;
  }
  
  .obsidian-search-match-highlight * {
    color: #383838 !important;
  }
  
  .markdown-rendered .search-highlight>div {
    opacity: 1;
    box-shadow: 0px 0.20em 0px 0  #ff9632;
  
  }
  
  .markdown-rendered .search-highlight>div.is-active {
    box-shadow: 0px 0.20em 0px 0 var(--search-match-color);
  }
  
  .search-result-file-title {
    color: var(--blue);
  }
  
  
  /* headings preview-view */
  
  .markdown-preview-view h1 {
    font-family: var(--font-family-preview);
    font-weight: var(--font-weight-title);
    color: var(--text-title-h1);
    margin-top: 0px;
    line-height: var(--line-height-headers);
  }
  
  .markdown-preview-view h2 {
    font-family: var(--font-family-preview);
    font-weight: var(--font-weight-title);
    color: var(--text-title-h2);
    line-height: var(--line-height-headers);
  }
  
  .markdown-preview-view h3 {
    font-family: var(--font-family-preview);
    font-weight: var(--font-weight-title);
    color: var(--text-title-h3);
    line-height: var(--line-height-headers);
  }
  
  .markdown-preview-view h4 {
    font-family: var(--font-family-preview);
    font-weight: var(--font-weight-title);
    color: var(--text-title-h4);
    line-height: var(--line-height-headers);
  }
  
  .markdown-preview-view h5 {
    font-family: var(--font-family-preview);
    font-weight: var(--font-weight-title);
    color: var(--text-title-h5);
    line-height: var(--line-height-headers);
  }
  
  .markdown-preview-view h6 {
    font-family: var(--font-family-preview);
    font-weight: var(--font-weight-title);
    color: var(--text-title-h6);
    line-height: var(--line-height-headers);
  }
  
  /* headings-editor */
  .cm-header-1 {
    font-family: var(--font-family-editor);
    font-weight: var(--font-weight-title) !important;
    color: var(--text-title-h1);
    line-height: var(--line-height-headers);
  }
  
  .cm-header-2 {
    font-family: var(--font-family-editor);
    font-weight: var(--font-weight-title) !important;
    color: var(--text-title-h2);
    line-height: var(--line-height-headers);
  }
  
  .cm-header-3 {
    font-family: var(--font-family-editor);
    font-weight: var(--font-weight-title) !important;
    color: var(--text-title-h3);
    line-height: var(--line-height-headers);
  }
  
  .cm-header-4 {
    font-family: var(--font-family-editor);
    font-weight: var(--font-weight-title) !important;
    color: var(--text-title-h4);
    line-height: var(--line-height-headers);
  }
  
  
  .cm-header-5 {
    font-family: var(--font-family-editor);
    font-weight: var(--font-weight-title) !important;
    color: var(--text-title-h5);
    line-height: var(--line-height-headers);
  }
  
  .cm-header-6 {
    font-family: var(--font-family-editor);
    font-weight: var(--font-weight-title) !important;
    color: var(--text-title-h6);
    line-height: var(--line-height-headers);
  }

  /* links */

  a,
  .markdown-preview-view .internal-link {
    text-decoration: none;
  }
  
  a:hover,
  .markdown-preview-view .internal-link:hover {
    text-decoration: underline;
  }
  
  /* status bar */
  
  .status-bar, .side-dock.mod-right, .side-dock.mod-left {
    border-color: var(--panel-border-color);
    border-width: 1px;
  }
  
  .status-bar {
    --bar-vertical-padding: 4px;
    --bar-height: calc(22px + (var(--bar-vertical-padding) * 2));
    line-height: 20px;
    padding: 0 20px;
    height: var(--bar-height);
    max-height: var(--bar-height);
    min-height: var(--bar-height);
    overflow: hidden;
  }
  
  .status-bar-item {
    margin: auto 0;
  }
  
  .status-bar-item>* {
    padding-top: var(--bar-vertical-padding) !important;
    padding-bottom: var(--bar-vertical-padding) !important;
  }
  
  /* Code blocks */
  pre[class*="language-"] {
    overflow: hidden;
  }
  
  code[class*="language-"] {
    display: block;
    padding: 0em;
    overflow: auto;
  }
  
  .markdown-preview-view pre {
    padding: 12px 12px;
  }
  
  /* width of content editor */
  .markdown-source-view.mod-cm6.is-readable-line-width:not(.is-rtl) .cm-contentContainer {
    max-width: 1500px;
    /*  margin-right: auto; */
  }
  
  .markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-content {
    max-width: 1500px;
  }
  
  .markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-line:not(.HyperMD-table-row) {
    max-width: 1500px;
  }
  
  
  /* width of content preview-view */
  .markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    max-width: 1500px;
    /*     margin-left: auto; */
    /*    margin-right: auto; */
  }
  
  .markdown-source-view.is-readable-line-width .CodeMirror {
    max-width: 1500px;
  }
   

  /* #tag */
  a.tag {
    color: var(--venom_pink);
  }
  
  .cm-s-obsidian span.cm-hashtag {
    color: var(--venom_pink);
    text-decoration: underline;
  }
  
  /* Blockquotes */
  
  .markdown-preview-view blockquote {
    border: solid var(--venom_pink);
    ;
    border-width: 0px 0px 0px 3px;
    background-color: #121212;
    color: var(--venom_pink);
    font-style: italic;
  }
  
  .cm-s-obsidian span.cm-quote {
    color: var(--venom_pink);
    font-style: italic;
  
  }
  
  .markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
    border: solid var(--venom_pink);
    border-width: 0px 0px 0px 3px;
    background-color: var(--background-primary);
  }
  
  /* little change */
  .cm-s-obsidian span.cm-inline-code, code {
    color: var(--venom_pink);
  }
  
  .cm-s-obsidian span.cm-formatting-link {
    color: var(--cyan);
  }
  
  .cm-line {
    line-height: 1.5em;
  }
  
  .cm-s-obsidian .HyperMD-codeblock {
    line-height: 1.4;
  }
  
  .nav-file-title, .nav-folder-title {
    color: #757e8a;
  }
  
  span.cm-strong {
    font-weight: 600 !important;
    color: #fff;
  }
  
  strong {
    font-weight: 600 !important;
    color: #fff;
  }
  
  .footnotes p {
    margin: 0;
  }
  
  .frontmatter-container .tag, .frontmatter-container .frontmatter-alias {
    margin: 0;
  }
  
  .markdown-rendered code {
    color: var(--cyan);
  }
  
  body:not(.is-grabbing) .nav-file-title:hover,
  body:not(.is-grabbing) .nav-folder-title:hover {
    outline: 2px solid var(--venom_pink);
  }
  
  body:not(.is-grabbing) .nav-file-title.is-selected:hover {
    background-color: var(--nav-item-background-active);
  }
  
  div[data-path='0attachments'],
  div[data-path='0attachments']+div.nav-folder-children {
    display: none;
  }
  
  
  .nav-file-title.is-selected {
    background-color: var(--nav-item-background-active);
  }
  
  .nav-file-title.is-selected:hover {
    background-color: red;
  }

  .collapse-icon svg.svg-icon,
  .is-collapsed .collapse-icon svg.svg-icon {
    color: var(--blue);
  }

@keyframes pulsate {

  100% {

    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #5271ff,
      0 0 80px #5271ff,
      0 0 90px #5271ff,
      0 0 100px #5271ff,
      0 0 150px #5271ff;

  }

  0% {

    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #5271ff,
      0 0 73px #5271ff,
      0 0 80px #5271ff,
      0 0 94px #5271ff,
      0 0 140px #5271ff;
  }
}
